<!-- Start of Nabar -->

<div class="nabar">
    <input type="checkbox" class="checkbox" id="click" hidden>


    <!-- Start of sidebar -->
    <div class="sidebar">
        <label for="click">
            <div class="menu-icon">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
        </label>
        <ul class="social-icon-list">
            <li>
                <a href="https://www.facebook.com/search/top?q=blooming%20buds%20gossaigaon" class="social-link"><i
                        class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/" class="social-link"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://gmail.com/" class="social-link"><i class="fab fa-google"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" class="social-link"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        <div class="year">2020</div>
    </div>
    <!-- End of sidebar -->

    <!-- navigation -->
    <nav class="navigation">

        <div class="navigation-header">
            <h1 class="navigation-heading">BloomingBuds School</h1>

            <form class="navigation-search">
                <input type="text" class="navigation-search-input" placeholder="search...">
                <button class="navigation-search-button">
                    <i class="fas fa-search"></i>
                </button>

            </form>
        </div>



        <ul class="navigation-list">
            <li class="navigation-item">

                <a href="#header" class="navigation-link">home</a>

            </li>
            <li class="navigation-item">

                <a href="#aboutus" class="navigation-link">about us</a>

            </li>
            <li class="navigation-item">
                <a href="#school-facilities" class="navigation-link">Facilities</a>
            </li>
            <li class="navigation-item">
                <a href="#messages" class="navigation-link">messages</a>
            </li>
            <li class="navigation-item">
                <a href="#footer" class="navigation-link">Contact</a>
            </li>
            <li class="navigation-item">
                <a href="" class="navigation-link">contact us</a>
            </li>
        </ul>


        <div class="copyright">
            <p>&copy; 2020 BBS All rights reserved</p>
        </div>
    </nav>
    <!-- end of navigation -->
</div>
<!-- End of Navbar -->

<!-- Start of Header -->
<header id="header" class="header">

    <div class="brand">
        <div class="heading">
            <h3 class="school-heading">BloomingBudsSchool</h3>
            <h2 class="school-heading">CBSE</h2>
        </div>
        <div class="logo">
            <a href="#header">
                <img src="/assets/moon.png" width="80" alt="">
            </a>
        </div>


    </div>
    <div class="banner">
        <h4 class="banner-heading">Welcome to BBSG</h4>
        <p class="banner-paragraph">Make your study Fun</p>
        <a href="#aboutus">
            <button class="banner-button"><i class="fas fa-angle-double-down"></i></button>
        </a>
    </div>
</header>
<!-- End of Header -->
<!-- Start of About US -->

<section id="aboutus" class="aboutus">
    <div class="about-us-content">

        <h1 class="about-us-heading">About Us</h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="big-underline"></div>
        </div>
        <h3 class="sub-heading">
            BloomingBuds School
        </h3>
        <p class="about-us-paragraph">Blooming Buds School, a co-educational institution, was established in the year
            2011 at Padmabil, Gossaigaon with the motto, "The utmost for the highest." The school follows CBSE course
            and affiliated to <b>CBSE, New Delhi</b>. <br><br>The affaires of the school are managed and run by the
            Blooming Buds Society chaired by <b>Mr. Vivek Mushahary</b>. The Founders of the school are <b>Mr. Jayanta
                Brahma</b> and
            <b>Mr. Bhabendra Mushahary</b> and its patron is <b>Mr. Hemendra Nath Brahma</b>.<br><br> The Blooming Buds
            School is
            expanding
            from the classes Play Group to Secondary. Our goal is to develop independent, confident, lifelong learners
            with a sense of global outlook along with the necessary skills to train for the challenges and changes which
            lie ahead.

        </p>
        <!-- <button class="about-us-btn">
            Read More
            <i class="fas fa-angle-double-right btn-arrow"></i>
        </button> -->
    </div>
    <div class="about-us-images">
        <img src="/assets/image/about-us/4.png" class="image image-1" alt="">
        <img src="/assets/image/about-us/5.png" class="image image-2" alt="">
        <img src="/assets/image/about-us/6.png" class="image image-3" alt="">
        <img src="/assets/image/about-us/7.png" class="image image-4" alt="">
    </div>

</section>
<!-- End of About US -->

<!-- Start of School Facilities-->
<section id="school-facilities" class="school-facilities">
    <div class="school-facilities-headers">
        <h1 class="school-facilities-heading">Facilities</h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="big-underline"></div>
        </div>
    </div>

    <div class="school-cards-wrapper">

        <div class="school-card">
            <img src="/assets/image/facilities/library.jpg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Library</h4>
                <p class="school-library-paragraph">The School has a well-equipped library with a reading room facility
                    to back up the teaching learning process effectively. It has a good collection of books for every
                    branch of knowledge. Students are constantly encouraged to avail the facility.
                </p>
            </div>
        </div>

        <div class="school-card">
            <img src="/assets/image/facilities/music.jpg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Music</h4>
                <p class="school-library-paragraph">Musical training helps develop language and reasoning: Students who
                    have early musical training will develop the areas of the brain related to language and reasoning.
                    The left side of the brain is better developed with music, and songs can help imprint information on
                    young minds
                </p>
            </div>
        </div>

        <div class="school-card">
            <img src="/assets/image/facilities/indoor-sports-1.jpg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Indoor Sports</h4>
                <p class="school-library-paragraph">The children enjoy mostly playing. Playing time is the best time to
                    learn various lessons. This is most effective as well as enjoyable activity where children undertake
                    games, hands-on-approach, Team building, leadership, observation, imitation-recognition,
                    concentration and memorization.
                </p>
            </div>
        </div>

        <div class="school-card">
            <img src="/assets/image/facilities/outdoor-sports.jpg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Outdoor Sports</h4>
                <p class="school-library-paragraph"> Exposure to outdoor play can also shape their personality and help
                    them develop essential social skills. It is a wonderful way to help them develop life skills.
                </p>
            </div>
        </div>

        <div class="school-card">
            <img src="/assets/image/facilities/lab.png" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Science Lab</h4>
                <p class="school-library-paragraph">The school has well equipped composite science laboratory of
                    Biology,Chemistry and Physics. Thelaboratory has been built and well equipped in accordance with the
                    guide lines formulated by CBSE, NEW Delhi.
                </p>
            </div>
        </div>

        <div class="school-card">
            <img src="/assets/image/facilities/computer-lab.jpeg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Computer Lab</h4>
                <p class="school-library-paragraph">The school has well equipped Computer laboratory. The laboratory has
                    been built and well equipped in accordance with the guide lines formulated by CBSE, New Delhi.
                </p>
            </div>
        </div>
        <div class="school-card">
            <img src="/assets/image/facilities/yoga.jpg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Yoga and Meditation</h4>
                <p class="school-library-paragraph">The school has a yoga room with adequate facilities for the practice
                    of yoga guided by qualified and experienced yoga instructors. Yoga classes are compulsory for all
                    the students.


                </p>
            </div>
        </div>
        <div class="school-card">
            <img src="/assets/image/facilities/arts.jpg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Art and Craft</h4>
                <p class="school-library-paragraph">The school promotes art and craft activities among students by
                    providing training in Fine Arts and Craft Work under the guidance of qualified and experienced
                    teacher.


                </p>
            </div>
        </div>

        <div class="school-card">
            <img src="/assets/image/facilities/emergency.jpeg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Emergency</h4>
                <p class="school-library-paragraph">Emergency evacuation plan is always ready and in stand by mode,
                    incase of fire and other unexpected events.
                </p>
            </div>
        </div>


        <div class="school-card">
            <img src="/assets/image/facilities/transport.jpg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Transport</h4>
                <p class="school-library-paragraph">The School provides transportation facilities to all the students
                    from various parts of Gossaigaon.
                </p>
            </div>
        </div>


        <div class="school-card">
            <img src="/assets/image/facilities/medical.jpeg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Medical</h4>
                <p class="school-library-paragraph">The school has medical room with adequate emergency requirements. It
                    keeps a periodic health check-up record to know about the health status of children.
                </p>
            </div>
        </div>

        <div class="school-card">
            <img src="/assets/image/facilities/hostel.jpg" class="facilities-img" alt="">
            <div class="school-library-content">
                <h4 class="school-library-heading">Hostel</h4>
                <p class="school-library-paragraph">There are separate hostel facilities for both boys and girls. The
                    hostels are supervised strictly by the Principal and Vice Principal. The hostel warden
                    sarein-charges of the hostels and look after the students' study, personal well-being, hygiene and
                    overall maintainance.
                </p>
            </div>
        </div>

    </div>
</section>

<!-- End of School Facilities-->

<!-- Messages -->
<section id="messages" class="messages">

    <div class="school-facilities-headers">
        <h1 class="school-facilities-heading">Message</h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="big-underline"></div>
        </div>
    </div>


    <div class="message-card-wrapper">


        <div class="card">
            <input type="checkbox" class="checkbox-1" id="click1" hidden>
            <div class="message-image-wrapper">
                <img src="assets/image/facilities/avatar.png" class="message-image" alt="">
            </div>
            <div class="message-info">
                <div class="message-fullname">
                    Sri Vivek Mushahary
                </div>
                <div class="message-designation">
                    President
                </div>


                <p class="message">As we all know, education has the biggest roleplay in a child's upbringing, which
                    starts from a very tender age of a child. So Blooming Buds School, Gossaigaon was started with a
                    very pure and sole idea of providing a quality education with pleasant surroundings to children.
                    <br><br>
                    <label for="click1"><i class="fas fa-angle-double-right message-btn-arrow"></i></label>
                    <span class="inner-text" hidden>
                        "The Utmost For The Highest" being the motto of the school, we surely guide the students with
                        utmost care to give their very best academically and also along with that, we focus on growing a
                        child
                        morally fit to live a better tomorrow with the highest level of confidence and commitments to
                        reach their goal and grow up to be a better individual.
                        <br><br>
                        At B.B.S. Gossaigaon a child is exposed to all kinds of academic and non-academic surroundings
                        where
                        he/she gets a wide opportunity to craft their skills and grow a leadership quality in them. The
                        school team always try to find innovative ways to maximize the learning potential of the
                        students.
                        <br><br>
                        In order to do this, we need your support. The challenge for us together is to fund our
                        ambitions.

                        So, I ask you to read carefully the opportunities that are contained in these pages. Come and
                        see us
                        for yourself. Revisit the school that nurtured you. It is my hope that those within our wider
                        community will do whatever they can to ensure that the B.B.S. can continue to thrive in the
                        future.
                    </span>
                </p>
            </div>
        </div>


        <div class="card">
            <input type="checkbox" class="checkbox-2" id="click2" hidden>
            <div class="message-image-wrapper">
                <img src="assets/image/facilities/martin.png" class="message-image" alt="">
            </div>
            <div class="message-info">
                <div class="message-fullname">
                    Mr. Martin Basumatary
                </div>
                <div class="message-designation">
                    Principal
                </div>


                <p class="message">Heartiest welcome to BloomingBudsSchool, where education means all round development
                    of the child. This is a school that has a mission to make each child achieve his and her
                    best.<br><br>
                    <label for="click2"><i class="fas fa-angle-double-right message-btn-arrow"></i></label>
                    <span class="inner-tex2" hidden>
                        We at Blooming Buds School strive to respect the unique individuality of each child, give the
                        child the right kind of help. We believe that a child will be successful in life if we accept
                        him/her as they are and inspire them to become what they want to become. They want to be loved,
                        appreciated, guided and to be respected their individuality.<br><br>We give importance to make
                        discipline a core value, encourage students to develop a sense of responsibility through a
                        well-planned CBSE Academic schedule, House system, various Inter School Competitions and Sports
                        Activities. We expect them to do the same at home too like making the beds, keeping the rooms
                        tidy, helping and supporting the family members in the daily chores etc. <br> <br>

                        The school has a well-planned CBSE curriculum so that co-curricular activities also are given
                        due importance. The school Almanac gives all the important information on school like the rules
                        and regulation, uniforms, periodic test schedules, Half Yearly and Annual Examinations,
                        holidays, co-curricular activities and feedback from teachers. The parents should ensure that
                        their ward is actively involved in all activities. <br> <br>

                        At Blooming Buds School, we follow an open-door policy and urge all parents to take this
                        opportunity to discuss any issue with me so that we can move forward together. We have a
                        supportive and involved parent community, dedicated and highly skilful staff, excellent
                        resources and buildings and the mostfantastic students toworkwith. Thank you for considering us
                        as the school for your child.
                        <br> <br>


                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End of Messages -->


<!-- Start of footer -->
<footer id="footer" class="footer">
    <div class="main-part">
        <div class="footer-list-wrapper">
            <h3 class="footer-heading">BBSG</h3>
            <ul class="footer-list">
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        contact@sbrahma.com
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        Blooming Buds School

                    </a>
                    <br>
                    <a href="#" class="footer-list-link">
                        Gossaigaon, BTAD, <br>Assam-783360
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        Tel: +91 86380 24924
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-list-wrapper">
            <h3 class="footer-heading">Explore</h3>
            <ul class="footer-list">
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        Home
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        About Us
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        School Facilities
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        Events
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        Message
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        Contact us
                    </a>
                </li>
            </ul>
        </div>

        <div class="contct">
            <div class="footer-heading">Contact</div>
            <p>Sign up for news</p>
            <form class="footer-form">
                <input type="text" class="footer-input" placeholder="Email...">

            </form>
            <button class="footer-btn">Sign Up</button>

        </div>

        <div class="footer-gallery">
            <h3 class="footer-heading">Gallery</h3>
            <div class="footer-galley-images">
                <div class="footer-image-wrapper">
                    <img src="/assets/image/footer-gallery/1.jpg" class="footer-img-gallery" alt="">
                </div>
                <div class="footer-image-wrapper">
                    <img src="/assets/image/footer-gallery/2.jpg" class="footer-img-gallery" alt="">
                </div>
                <div class="footer-image-wrapper">
                    <img src="/assets/image/footer-gallery/3.jpg" class="footer-img-gallery" alt="">
                </div>
                <div class="footer-image-wrapper">
                    <img src="/assets/image/footer-gallery/4.jpg" class="footer-img-gallery" alt="">
                </div>
                <div class="footer-image-wrapper">
                    <img src="/assets/image/footer-gallery/5.jpg" class="footer-img-gallery" alt="">
                </div>
                <div class="footer-image-wrapper">
                    <img src="/assets/image/footer-gallery/6.jpg" class="footer-img-gallery" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="creator-part">
        <div class="copyright-text">
            <p>Copyright @copy; 2020 BBSG. All rights reserved</p>
        </div>

        <div class="text-right">
            <p> created by <span>sbrahma.com</span></p>
        </div>
    </div>
</footer>
<!-- end of footer -->