html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}







// 10/16 = .625 * 100 = 62.5 % For making default font size as 10px.

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Montserrat', sans-serif;
